nav {
  background-color: #d0a42e;
}

.nav-wrapper {
  font-weight: 300;
}

.logo {
  width: 100px;
  margin-top: 7px;
}

@media only screen and (min-width: 992px) {
  .logo {
    margin-left: 7px;
  }
}

nav .brand-logo {
  font-size: 1.5rem;
}

/* View */

.view {
  overflow: auto;
}

.space {
  margin-top: 30px;
}

/* Box */

.box-container {
  position: relative;
  height: 68px;
}

.box {
  position: absolute;
  display: inline-block;
  height: 100%;
  /*border: dashed black thin;*/
  border: 1px solid #d0a42e;
  border-radius: 5px;
}

/* Status */

.default {
  cursor: pointer;
}

.booked {
  color: #fff;
  background-color: #d0a42e;
  cursor: pointer;
}

.booked-size {
  font-size: 10px;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #9f9f9f !important;
  background-color: #dfdfdf !important;
  border-color: #dfdfdf;
  cursor: default;
}

.high-demand {
  height: 10px;
  width: 10px;
  margin: 0 0 3px 2px;
  background-color: #ee6e73;
}

.high-demand:hover {
  background-color: #000;
}

/* Content */

.director {
  font-size: 12px;
}

.clock-size {
  font-size: 12px;
}

/* SweetAlert */

.sweet-alert {
  font-family: "Roboto", sans-serif;
}