<div ng-click="toggleBooking(show)" ng-class="{'default': !show.isBooked, 'booked': show.isBooked, 'disabled': show.isLocked}"
  ng-style="{left: show.offset, width: show.width}" class="box z-depth-1">
  <span>{{show.movie.title}}</span>
  <br>
  <span class="director">{{show.movie.director}}</span>
  <br>
  <i class="material-icons clock-size tooltipped" data-position="top" data-delay="50" data-tooltip="running time : {{show.movie.runningTime}}">&#xE192;</i>
  <span>{{show.time}}</span>
  <i ng-if="!show.isBooked && !show.isLocked" class="grey-text booked-size">book it</i>
  <span ng-if="show.isBooked" class="booked-size">booked</span>
  <span ng-show="show.demand === 'high demand'" class="btn btn-floating pulse tooltipped high-demand" data-position="top" data-delay="50" data-tooltip="{{show.demand}}"></span>
</div>
