<div ng-include="'app/views/partials/credits.html'"></div>
<table class="bordered centered">
  <thead>
    <tr>
      <th>Day</th>
      <th>Lumière</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(date, shows) in showsByDate">
      <td>{{date | dateToISO | date:'EEE'}}</td>
      <td>
        <div ng-style="{width: widthLumiere}" class="box-container">
          <div ng-repeat="show in shows.Lumiere">
            <div ng-include="'app/views/partials/box.html'"></div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
